## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
%matplotlib inline

## Uploading my Data

In [2]:
def upload(fileName):
    df = pd.read_csv(fileName)
    return df

In [3]:
firearm_intersection = upload('fiream_data_intersections13to17.csv')

In [4]:
firearm_address = upload('FirearmAddress.csv')

In [5]:
firearm_general = upload('FirearmsData.csv')

In [6]:
jan_firearm_auction = upload('Jan2021FirearmsAuction.csv')

## Exploring my Data

Before I can merge these datasets, I want to make sure the column names and values are the same.

### Intersection Dataset

In [7]:
firearm_intersection.head()

,incident_number,ucr_category,type_of_firearm,firearm_manufacturer,firearm_model,firearm_caliber,recovery_date,address_geocode_type,recovery_block_address,city,...,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age,address_concat,x,y,longitude,latitude,confidence,source
0,80-13-097166,Narcotics,"Pistol, Semi-automatic ...",Ruger,Sr9c,9MM,2013-12-20 00:00:00+00,INTERSECTION,N 22nd St / Bank St,Louisville,...,Black,M,21.0,N 22nd St / Bank St Louisville KY 40203,NaN,NaN,NaN,NaN,NaN,NaN
1,80-11-044948,Wpns Law Violation,"Pistol, Semi-automatic ...",Intratec,NaN,9MM,2011-06-11 00:00:00+00,INTERSECTION,7th Street Rd / Berry Blvd,Louisville,...,Black,M,20.0,7th Street Rd / Berry Blvd Louisville KY 40216,NaN,NaN,NaN,NaN,NaN,NaN
2,80-11-037378,Narcotics,"Rifle, Semi-automatic ...",Norinco,Sks,762M,2011-05-16 00:00:00+00,INTERSECTION,N 37th St / Bank St,Louisville,...,White,M,27.0,N 37th St / Bank St Louisville KY 40212,NaN,NaN,NaN,NaN,NaN,NaN
3,80-12-061676,Wpns Law Violation,"Pistol, Revolver ...",NaN,NaN,38C,2012-08-03 00:00:00+00,INTERSECTION,Dixie Hwy / Ralph Ave,Shively,...,Black,M,53.0,Dixie Hwy / Ralph Ave Shively KY,1195202.125,260851.7188,-85.799466,38.206025,NaN,LOJIC
4,80-12-010689,Narcotics,Null,NaN,Airmaster,NaN,2012-02-16 00:00:00+00,INTERSECTION,Oxmoor Ln / Shelbyville Rd,Norwood,...,White,M,36.0,Oxmoor Ln / Shelbyville Rd Norwood KY 40222,1248916.500,275799.8750,-85.613325,38.249400,NaN,LOJIC

In [8]:
firearm_intersection.columns

Index(['incident_number', 'ucr_category', 'type_of_firearm',
       'firearm_manufacturer', 'firearm_model', 'firearm_caliber',
       'recovery_date', 'address_geocode_type', 'recovery_block_address',
       'city', 'state', 'recovery_zipcode', 'person_recovered_from_race',
       'person_recovered_from_sex', 'person_recovered_from_age',
       'address_concat', 'x', 'y', 'longitude', 'latitude', 'confidence',
       'source'],
      dtype='object')

In [9]:
firearm_intersection.dtypes

incident_number                object
ucr_category                   object
type_of_firearm                object
firearm_manufacturer           object
firearm_model                  object
firearm_caliber                object
recovery_date                  object
address_geocode_type           object
recovery_block_address         object
city                           object
state                          object
recovery_zipcode              float64
person_recovered_from_race     object
person_recovered_from_sex      object
person_recovered_from_age     float64
address_concat                 object
x                             float64
y                             float64
longitude                     float64
latitude                      float64
confidence                    float64
source                         object
dtype: object

### Address Dataset

In [10]:
firearm_address.head()

,INCIDENT_NUMBER,UCR_CATEGORY,TYPE_OF_FIREARM,FIREARM_MANUFACTURER,FIREARM_MODEL,FIREARM_CALIBER,RECOVERY_DATE,ADDRESS_GEOCODE_TYPE,RECOVERY__ADDRESS,CITY,state,RECOVERY_ZIPCODE,PERSON_RECOVERED_FROM_RACE,PERSON_RECOVERED_FROM_SEX,PERSON_RECOVERED_FROM_AGE,Address_Concat,Longitude,Latitude,Confidence,Source
0,80-10-011494,Wpns Law Violation,"Pistol, Semi-automatic",Manurin S.A.,NaN,765M,2010-02-17T00:00:00Z,BLOCK,9400 National Tpke,Louisville,KY,40118.0,White,M,44.0,9400 National Tpke Louisville KY 40118,-85.752898,38.125321,0.54,openaddresses
1,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,KY,40220.0,Black,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses
2,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,KY,40220.0,Black,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses
3,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,KY,40220.0,Black,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses
4,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,KY,40220.0,Black,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses

In [11]:
firearm_address.columns

Index(['INCIDENT_NUMBER', 'UCR_CATEGORY', 'TYPE_OF_FIREARM',
       'FIREARM_MANUFACTURER', 'FIREARM_MODEL', 'FIREARM_CALIBER',
       'RECOVERY_DATE', 'ADDRESS_GEOCODE_TYPE', 'RECOVERY__ADDRESS', 'CITY',
       'state', 'RECOVERY_ZIPCODE', 'PERSON_RECOVERED_FROM_RACE',
       'PERSON_RECOVERED_FROM_SEX', 'PERSON_RECOVERED_FROM_AGE',
       'Address_Concat', 'Longitude', 'Latitude', 'Confidence', 'Source'],
      dtype='object')

In [12]:
firearm_address.dtypes

INCIDENT_NUMBER                object
UCR_CATEGORY                   object
TYPE_OF_FIREARM                object
FIREARM_MANUFACTURER           object
FIREARM_MODEL                  object
FIREARM_CALIBER                object
RECOVERY_DATE                  object
ADDRESS_GEOCODE_TYPE           object
RECOVERY__ADDRESS              object
CITY                           object
state                          object
RECOVERY_ZIPCODE              float64
PERSON_RECOVERED_FROM_RACE     object
PERSON_RECOVERED_FROM_SEX      object
PERSON_RECOVERED_FROM_AGE     float64
Address_Concat                 object
Longitude                     float64
Latitude                      float64
Confidence                    float64
Source                         object
dtype: object

### General Dataset

In [13]:
firearm_general.head()

,INCIDENT_NUMBER,UCR_CATEGORY,TYPE_OF_FIREARM,FIREARM_MANUFACTURER,FIREARM_MODEL,FIREARM_CALIBER,RECOVERY_DATE,RECOVERY_BLOCK_ADDRESS,CITY,state,RECOVERY_ZIPCODE,PERSON_RECOVERED_FROM_RACE,PERSON_RECOVERED_FROM_SEX,PERSON_RECOVERED_FROM_AGE,year
0,80-06-008380,HOMICIDE,NaN,NaN,NaN,NaN,NaN,NaN,LOUISVILLE,KY,40202,NaN,NaN,NaN,NaN
1,80-10-002211,HOMICIDE,NaN,NaN,NaN,NaN,NaN,NaN,LOUISVILLE,KY,40202,NaN,NaN,NaN,NaN
2,80-10-002211,HOMICIDE,NaN,NaN,NaN,NaN,NaN,NaN,LOUISVILLE,KY,40202,NaN,NaN,NaN,NaN
3,80-17-000578,SUICIDE,NaN,NaN,NaN,NaN,NaN,NaN,LOUISVILLE,KY,40272,NaN,NaN,NaN,NaN
4,80-17-001680,SUICIDE,NaN,NaN,NaN,NaN,NaN,NaN,LOUISVILLE,KY,40272,NaN,NaN,NaN,NaN

In [14]:
firearm_general.columns

Index(['INCIDENT_NUMBER', 'UCR_CATEGORY', 'TYPE_OF_FIREARM',
       'FIREARM_MANUFACTURER', 'FIREARM_MODEL', 'FIREARM_CALIBER',
       'RECOVERY_DATE', 'RECOVERY_BLOCK_ADDRESS', 'CITY', 'state',
       'RECOVERY_ZIPCODE', 'PERSON_RECOVERED_FROM_RACE',
       'PERSON_RECOVERED_FROM_SEX', 'PERSON_RECOVERED_FROM_AGE', 'year'],
      dtype='object')

In [15]:
firearm_general.dtypes

INCIDENT_NUMBER                object
UCR_CATEGORY                   object
TYPE_OF_FIREARM                object
FIREARM_MANUFACTURER           object
FIREARM_MODEL                  object
FIREARM_CALIBER                object
RECOVERY_DATE                  object
RECOVERY_BLOCK_ADDRESS         object
CITY                           object
state                          object
RECOVERY_ZIPCODE               object
PERSON_RECOVERED_FROM_RACE     object
PERSON_RECOVERED_FROM_SEX      object
PERSON_RECOVERED_FROM_AGE     float64
year                          float64
dtype: object

## Changing the Data Format

The column names are the same except for some additions in firearm_general and firearm_intersection, so I just want to make sure that the names look exactly the same before I combine the datasets.

### Changing the upper-case column names to lower-case

In [16]:
firearm_address.columns = ['incident_number',
                          'ucr_category',
                          'type_of_firearm',
                          'firearm_manufacturer',
                          'firearm_model',
                          'firearm_caliber',
                          'recovery_date',
                          'address_geocode_type',
                          'recovery_address',
                          'city',
                          'state',
                          'recovery_zipcode',
                          'person_recovered_from_race',
                          'person_recovered_from_sex',
                          'person_recovered_from_age',
                          'address_concat',
                          'longitude',
                          'latitude',
                          'confidence',
                          'source']

In [17]:
firearm_general.columns = ['incident_number',
                          'ucr_category',
                          'type_of_firearm',
                          'firearm_manufacturer',
                          'firearm_model',
                          'firearm_caliber',
                          'recovery_date',
                          'recovery_block_address',
                          'city',
                          'state',
                          'recovery_zipcode',
                          'person_recovered_from_race',
                          'person_recovered_from_sex',
                          'person_recovered_from_age',
                          'year']

In [18]:
firearm_address.columns

Index(['incident_number', 'ucr_category', 'type_of_firearm',
       'firearm_manufacturer', 'firearm_model', 'firearm_caliber',
       'recovery_date', 'address_geocode_type', 'recovery_address', 'city',
       'state', 'recovery_zipcode', 'person_recovered_from_race',
       'person_recovered_from_sex', 'person_recovered_from_age',
       'address_concat', 'longitude', 'latitude', 'confidence', 'source'],
      dtype='object')

In [19]:
firearm_general.columns

Index(['incident_number', 'ucr_category', 'type_of_firearm',
       'firearm_manufacturer', 'firearm_model', 'firearm_caliber',
       'recovery_date', 'recovery_block_address', 'city', 'state',
       'recovery_zipcode', 'person_recovered_from_race',
       'person_recovered_from_sex', 'person_recovered_from_age', 'year'],
      dtype='object')

In [20]:
firearm_intersection.columns

Index(['incident_number', 'ucr_category', 'type_of_firearm',
       'firearm_manufacturer', 'firearm_model', 'firearm_caliber',
       'recovery_date', 'address_geocode_type', 'recovery_block_address',
       'city', 'state', 'recovery_zipcode', 'person_recovered_from_race',
       'person_recovered_from_sex', 'person_recovered_from_age',
       'address_concat', 'x', 'y', 'longitude', 'latitude', 'confidence',
       'source'],
      dtype='object')

### Dropping Duplicate Rows

Now that I have ensured all my columns look the same and contain the same names, I want to drop all of my duplicate rows before I merge them.

In [21]:
firearm_intersection = firearm_intersection.drop_duplicates()

In [22]:
firearm_address = firearm_address.drop_duplicates()

In [23]:
firearm_general = firearm_general.drop_duplicates()

### Changing data values from upper-case to lower-case

In the datasets where we had to change the column names from upper case to lower case, the data within is also in lower case. Let's see if we can go ahead and change these data values from objects to strings and from upper case to lower case at the same time. Luckily, the only dataset we should have to do this with is the firearm_general.

In [24]:
firearm_general['ucr_category'] = firearm_general['ucr_category'].str.title()
firearm_general['type_of_firearm'] = firearm_general['type_of_firearm'].str.title()
firearm_general['firearm_manufacturer'] = firearm_general['firearm_manufacturer'].str.title()
firearm_general['firearm_model'] = firearm_general['firearm_model'].str.title()
firearm_general['recovery_block_address'] = firearm_general['recovery_block_address'].str.title()
firearm_general['city'] = firearm_general['city'].str.title()
firearm_general['person_recovered_from_race'] = firearm_general['person_recovered_from_race'].str.title()

In [25]:
firearm_general

,incident_number,ucr_category,type_of_firearm,firearm_manufacturer,firearm_model,firearm_caliber,recovery_date,recovery_block_address,city,state,recovery_zipcode,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age,year
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,40202,NaN,NaN,NaN,NaN
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,40202,NaN,NaN,NaN,NaN
3,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,40272,NaN,NaN,NaN,NaN
4,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,40272,NaN,NaN,NaN,NaN
5,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,40211,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14843,80-10-000185,Narcotics,"Pistol, Semi-Automatic ...",Smith & Wesson ...,Sw40Ve,40C,1/1/2010,9200 Block Sissonne Dr ...,Louisville,KY,40118,White,M,27.0,2010.0
14845,80-09-099274,Aggravated Assault,"Pistol, Semi-Automatic ...",...,,9MM,12/31/2009,700 Block Heywood Ave ...,Louisville,KY,40208,Black,M,23.0,2009.0
14846,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0,2009.0
14847,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0,2009.0
14848,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,40203,White,M,15.0,2008.0

## Merging Datasets

### Merging the Intersection and Address sets

After several tries, I figured out the merge function doesn't enjoy having to merge with more than one identical column. I'm going to merge the intersection and address datasets first, then tack on the general after. Between the intersection and address datasets, the column I want to merge on is the incident_number, and the additional columns I want to add are the recovery_block_address, x, and y. 

So, I'm going to make a different dataframe called firearm_to_merge which contains all the columns from firearm_intersection that I want to merge with firearm_address.

In [26]:
firearm_to_merge = firearm_intersection[['incident_number', 'recovery_block_address', 'x', 'y']]

The original dataset included 2746 pieces of data (rows) and the one we want to merge has 2213 pieces of data, so we know that there were 533 duplicate rows in our data that were successfully dropped.

In [27]:
firearm_to_merge

,incident_number,recovery_block_address,x,y
0,80-13-097166,N 22nd St / Bank St,NaN,NaN
1,80-11-044948,7th Street Rd / Berry Blvd,NaN,NaN
2,80-11-037378,N 37th St / Bank St,NaN,NaN
3,80-12-061676,Dixie Hwy / Ralph Ave,1195202.125,260851.7188
4,80-12-010689,Oxmoor Ln / Shelbyville Rd,1248916.500,275799.8750
...,...,...,...,...
2741,80-13-089244,W Pages Ln / Terry Rd,NaN,NaN
2742,80-12-085476,W Southern Heights Ave / Wheeler Ave,1198203.750,254911.1250
2743,80-16-075482,W Southern Heights Ave / Woodruff Ave,1199311.250,254829.2813
2744,80-10-073277,Watterson Trl / Whitfield Dr,NaN,NaN
2745,80-16-021321,Whisp Brook Cir / Whispering Brook Dr,1223493.625,223231.6875

Now we can merge the data to get half the dataset we want.

**Actual Merge:**

In [28]:
firearm_half = pd.merge(firearm_address, firearm_to_merge, how = 'outer', on =["incident_number"])

In [29]:
firearm_half

,incident_number,ucr_category,type_of_firearm,firearm_manufacturer,firearm_model,firearm_caliber,recovery_date,address_geocode_type,recovery_address,city,...,person_recovered_from_sex,person_recovered_from_age,address_concat,longitude,latitude,confidence,source,recovery_block_address,x,y
0,80-10-011494,Wpns Law Violation,"Pistol, Semi-automatic",Manurin S.A.,NaN,765M,2010-02-17T00:00:00Z,BLOCK,9400 National Tpke,Louisville,...,M,44.0,9400 National Tpke Louisville KY 40118,-85.752898,38.125321,0.54,openaddresses,NaN,NaN,NaN
1,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,...,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses,NaN,NaN,NaN
2,80-10-013628,Wpns Law Violation,"Pistol, Semi-automatic",Smith & Wesson,Sw40ve,40C,2010-02-25T00:00:00Z,BLOCK,2100 W Gaulbert Ave,Louisville,...,M,26.0,2100 W Gaulbert Ave Louisville KY 40210,-85.793435,38.227871,1.00,openaddresses,NaN,NaN,NaN
3,80-10-014366,Wpns Law Violation,"Pistol, Semi-automatic",NaN,NaN,9MM,2010-02-28T00:00:00Z,BLOCK,600 W Jefferson St,Louisville,...,NaN,NaN,600 W Jefferson St Louisville KY 40202,-85.761323,38.253961,1.00,openaddresses,NaN,NaN,NaN
4,80-10-015443,Theft Other,"Pistol, Semi-automatic","Glock, Inc.",Model 27 (40 Sw,40C,2010-03-05T00:00:00Z,BLOCK,9500 Preston Hwy,Louisville,...,F,23.0,9500 Preston Hwy Louisville KY 40229,-85.679636,38.112525,1.00,openaddresses,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10470,80-13-089244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Pages Ln / Terry Rd,NaN,NaN
10471,80-12-085476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Southern Heights Ave / Wheeler Ave,1198203.750,254911.1250
10472,80-16-075482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Southern Heights Ave / Woodruff Ave,1199311.250,254829.2813
10473,80-10-073277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Watterson Trl / Whitfield Dr,NaN,NaN
10474,80-16-021321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Whisp Brook Cir / Whispering Brook Dr,1223493.625,223231.6875

Since we're merging two dataframes, I just want to double-check that there are no duplicates.

In [30]:
firearm_half = firearm_half.drop_duplicates()

In [31]:
firearm_half

,incident_number,ucr_category,type_of_firearm,firearm_manufacturer,firearm_model,firearm_caliber,recovery_date,address_geocode_type,recovery_address,city,...,person_recovered_from_sex,person_recovered_from_age,address_concat,longitude,latitude,confidence,source,recovery_block_address,x,y
0,80-10-011494,Wpns Law Violation,"Pistol, Semi-automatic",Manurin S.A.,NaN,765M,2010-02-17T00:00:00Z,BLOCK,9400 National Tpke,Louisville,...,M,44.0,9400 National Tpke Louisville KY 40118,-85.752898,38.125321,0.54,openaddresses,NaN,NaN,NaN
1,80-10-011506,Narcotics,"Shotgun, Pump Action",Remington Arms,Shotgun: Model,20GA,2010-02-17T00:00:00Z,BLOCK,4500 Landside Dr,Louisville,...,M,19.0,4500 Landside Dr Louisville KY 40220,-85.620998,38.198673,1.00,openaddresses,NaN,NaN,NaN
2,80-10-013628,Wpns Law Violation,"Pistol, Semi-automatic",Smith & Wesson,Sw40ve,40C,2010-02-25T00:00:00Z,BLOCK,2100 W Gaulbert Ave,Louisville,...,M,26.0,2100 W Gaulbert Ave Louisville KY 40210,-85.793435,38.227871,1.00,openaddresses,NaN,NaN,NaN
3,80-10-014366,Wpns Law Violation,"Pistol, Semi-automatic",NaN,NaN,9MM,2010-02-28T00:00:00Z,BLOCK,600 W Jefferson St,Louisville,...,NaN,NaN,600 W Jefferson St Louisville KY 40202,-85.761323,38.253961,1.00,openaddresses,NaN,NaN,NaN
4,80-10-015443,Theft Other,"Pistol, Semi-automatic","Glock, Inc.",Model 27 (40 Sw,40C,2010-03-05T00:00:00Z,BLOCK,9500 Preston Hwy,Louisville,...,F,23.0,9500 Preston Hwy Louisville KY 40229,-85.679636,38.112525,1.00,openaddresses,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10470,80-13-089244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Pages Ln / Terry Rd,NaN,NaN
10471,80-12-085476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Southern Heights Ave / Wheeler Ave,1198203.750,254911.1250
10472,80-16-075482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W Southern Heights Ave / Woodruff Ave,1199311.250,254829.2813
10473,80-10-073277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Watterson Trl / Whitfield Dr,NaN,NaN
10474,80-16-021321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Whisp Brook Cir / Whispering Brook Dr,1223493.625,223231.6875

Since we did an outer merge so we didn't lose data, we did have some duplicate values we had to get rid of. Now, we can go ahead and merge the general dataset.

### Adding on the General set

In [32]:
firearm_data = pd.merge(firearm_general, firearm_half, how='outer', on=['incident_number'])

In [33]:
firearm_data

,incident_number,ucr_category_x,type_of_firearm_x,firearm_manufacturer_x,firearm_model_x,firearm_caliber_x,recovery_date_x,recovery_block_address_x,city_x,state_x,...,person_recovered_from_sex_y,person_recovered_from_age_y,address_concat,longitude,latitude,confidence,source,recovery_block_address_y,x,y
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
2,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
3,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
4,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23657,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23658,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23659,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23660,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,...,M,15.0,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,NaN,NaN

In [34]:
firearm_data = firearm_data.drop_duplicates()

In [35]:
firearm_data

,incident_number,ucr_category_x,type_of_firearm_x,firearm_manufacturer_x,firearm_model_x,firearm_caliber_x,recovery_date_x,recovery_block_address_x,city_x,state_x,...,person_recovered_from_sex_y,person_recovered_from_age_y,address_concat,longitude,latitude,confidence,source,recovery_block_address_y,x,y
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
2,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
3,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
4,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23657,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23658,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23659,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23660,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,...,M,15.0,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,NaN,NaN

## Looking at our newly merged dataset

This is our completed dataset. Now, we can go ahead and take a look at our columns.

In [36]:
firearm_data.columns

Index(['incident_number', 'ucr_category_x', 'type_of_firearm_x',
       'firearm_manufacturer_x', 'firearm_model_x', 'firearm_caliber_x',
       'recovery_date_x', 'recovery_block_address_x', 'city_x', 'state_x',
       'recovery_zipcode_x', 'person_recovered_from_race_x',
       'person_recovered_from_sex_x', 'person_recovered_from_age_x', 'year',
       'ucr_category_y', 'type_of_firearm_y', 'firearm_manufacturer_y',
       'firearm_model_y', 'firearm_caliber_y', 'recovery_date_y',
       'address_geocode_type', 'recovery_address', 'city_y', 'state_y',
       'recovery_zipcode_y', 'person_recovered_from_race_y',
       'person_recovered_from_sex_y', 'person_recovered_from_age_y',
       'address_concat', 'longitude', 'latitude', 'confidence', 'source',
       'recovery_block_address_y', 'x', 'y'],
      dtype='object')

In [37]:
firearm_data.dtypes

incident_number                  object
ucr_category_x                   object
type_of_firearm_x                object
firearm_manufacturer_x           object
firearm_model_x                  object
firearm_caliber_x                object
recovery_date_x                  object
recovery_block_address_x         object
city_x                           object
state_x                          object
recovery_zipcode_x               object
person_recovered_from_race_x     object
person_recovered_from_sex_x      object
person_recovered_from_age_x     float64
year                            float64
ucr_category_y                   object
type_of_firearm_y                object
firearm_manufacturer_y           object
firearm_model_y                  object
firearm_caliber_y                object
recovery_date_y                  object
address_geocode_type             object
recovery_address                 object
city_y                           object
state_y                          object
recovery_zipcode_y              float64
person_recovered_from_race_y     object
person_recovered_from_sex_y      object
person_recovered_from_age_y     float64
address_concat                   object
longitude                       float64
latitude                        float64
confidence                      float64
source                           object
recovery_block_address_y         object
x                               float64
y                               float64
dtype: object

### Checking Split Columns for Duplicates

We have a TON of repeated columns here. I want to go ahead and make sure that the repeated columns aren't the same before I decide what to do with them.

In [38]:
print("ucr_category: "+ str(firearm_data['ucr_category_x'].equals(firearm_data['ucr_category_y'])))
print("type_of_firearm: " + str(firearm_data['type_of_firearm_x'].equals(firearm_data['type_of_firearm_y'])))
print("firearm_manufacturer: " + str(firearm_data['firearm_manufacturer_x'].equals(firearm_data['firearm_manufacturer_y'])))
print("firearm_model: " + str(firearm_data['firearm_model_x'].equals(firearm_data['firearm_model_y'])))
print("firearm_caliber: " + str(firearm_data['firearm_caliber_x'].equals(firearm_data['firearm_caliber_y'])))
print("recovery_date: " + str(firearm_data['recovery_date_x'].equals(firearm_data['recovery_date_y'])))
print("recovery_block_address: " + str(firearm_data['recovery_block_address_x'].equals(firearm_data['recovery_block_address_y'])))
print("city: " + str(firearm_data['city_x'].equals(firearm_data['city_y'])))
print("state: " + str(firearm_data['state_x'].equals(firearm_data['state_y'])))
print("recovery_zipcode: " + str(firearm_data['recovery_zipcode_x'].equals(firearm_data['recovery_zipcode_y'])))
print("person_recovered_from_race: " + str(firearm_data['person_recovered_from_race_x'].equals(firearm_data['person_recovered_from_race_y'])))
print("person_recovered_from_sex: " + str(firearm_data['person_recovered_from_sex_x'].equals(firearm_data['person_recovered_from_sex_y'])))
print("person_recovered_from_age: " + str(firearm_data['person_recovered_from_age_x'].equals(firearm_data['person_recovered_from_age_y'])))

ucr_category: False
type_of_firearm: False
firearm_manufacturer: False
firearm_model: False
firearm_caliber: False
recovery_date: False
recovery_block_address: False
city: False
state: False
recovery_zipcode: False
person_recovered_from_race: False
person_recovered_from_sex: False
person_recovered_from_age: False

So basically, none of these columns are the same. Can we merge them without overlapping values?

In [39]:
test_set = firearm_data

In [40]:
test_set

,incident_number,ucr_category_x,type_of_firearm_x,firearm_manufacturer_x,firearm_model_x,firearm_caliber_x,recovery_date_x,recovery_block_address_x,city_x,state_x,...,person_recovered_from_sex_y,person_recovered_from_age_y,address_concat,longitude,latitude,confidence,source,recovery_block_address_y,x,y
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
2,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
3,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
4,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23657,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23658,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23659,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,M,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN
23660,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,...,M,15.0,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,NaN,NaN

In [41]:
test_set['ucr_category'] = test_set.ucr_category_x.combine_first(test_set.ucr_category_y)

In [42]:
test_set

,incident_number,ucr_category_x,type_of_firearm_x,firearm_manufacturer_x,firearm_model_x,firearm_caliber_x,recovery_date_x,recovery_block_address_x,city_x,state_x,...,person_recovered_from_age_y,address_concat,longitude,latitude,confidence,source,recovery_block_address_y,x,y,ucr_category
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN,Homicide
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN,Homicide
2,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN,Suicide
3,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN,Suicide
4,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,NaN,NaN,0.000000,0.000000,0.00,none,NaN,NaN,NaN,Death Investigation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN,Aggravated Assault
23657,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN,Aggravated Assault
23658,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN,Aggravated Assault
23659,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,56.0,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,NaN,NaN,Aggravated Assault
23660,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,...,15.0,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,NaN,NaN,Theft Fr Veh

In [43]:
test_set_save = pd.DataFrame(test_set[['ucr_category', 'ucr_category_x', 'ucr_category_y']])

In [44]:
test_set_save

              ucr_category       ucr_category_x       ucr_category_y
0                 Homicide             Homicide             Homicide
1                 Homicide             Homicide             Homicide
2                  Suicide              Suicide              Suicide
3                  Suicide              Suicide              Suicide
4      Death Investigation  Death Investigation  Death Investigation
...                    ...                  ...                  ...
23656   Aggravated Assault   Aggravated Assault   Aggravated Assault
23657   Aggravated Assault   Aggravated Assault   Aggravated Assault
23658   Aggravated Assault   Aggravated Assault   Aggravated Assault
23659   Aggravated Assault   Aggravated Assault   Aggravated Assault
23660         Theft Fr Veh         Theft Fr Veh         Theft Fr Veh

[23661 rows x 3 columns]

In [74]:
test_set_save.sample(30)

              ucr_category       ucr_category_x       ucr_category_y
6124       Stolen Property      Stolen Property                  NaN
1509             Narcotics            Narcotics            Narcotics
21315             Burglary             Burglary             Burglary
1591             Narcotics            Narcotics            Narcotics
16633   Wpns Law Violation   Wpns Law Violation                  NaN
8339    Wpns Law Violation   Wpns Law Violation   Wpns Law Violation
17256             Burglary             Burglary             Burglary
6315    Aggravated Assault   Aggravated Assault   Aggravated Assault
11944            Narcotics            Narcotics            Narcotics
20716   Wpns Law Violation   Wpns Law Violation   Wpns Law Violation
1127             Narcotics            Narcotics            Narcotics
3076    Wpns Law Violation   Wpns Law Violation   Wpns Law Violation
5438       Stolen Property      Stolen Property      Stolen Property
15844   Aggravated Assault   Aggravated Assault   Aggravated Assault
23307   Wpns Law Violation   Wpns Law Violation   Wpns Law Violation
4901             Narcotics            Narcotics            Narcotics
2674    Aggravated Assault   Aggravated Assault   Aggravated Assault
4556    Wpns Law Violation   Wpns Law Violation   Wpns Law Violation
14336            Narcotics            Narcotics            Narcotics
22477            Narcotics            Narcotics            Narcotics
10757   Wpns Law Violation   Wpns Law Violation                  NaN
11589            Narcotics            Narcotics            Narcotics
20183   Aggravated Assault   Aggravated Assault   Aggravated Assault
23634   Aggravated Assault   Aggravated Assault   Aggravated Assault
21650  Death Investigation  Death Investigation  Death Investigation
4625    Aggravated Assault   Aggravated Assault   Aggravated Assault
23337   Wpns Law Violation   Wpns Law Violation                  NaN
2885             Vandalism            Vandalism            Vandalism
10214      Stolen Property      Stolen Property      Stolen Property
12898          Theft Other          Theft Other          Theft Other

### Merging Our Duplicate Columns

After taking a random sample of 30 values, it seems our values were merged the way we wanted them to be. I'm going to create a function so we can do this a bit easier for each column.

In [71]:
def merge_column(dataFrame, columnName):
    column_x = (columnName + '_x')
    column_y = (columnName + '_y')
    dataFrame[columnName] = dataFrame[column_x].combine_first(dataFrame[column_y])

In [75]:
firearm_data.columns

Index(['incident_number', 'ucr_category_x', 'type_of_firearm_x',
       'firearm_manufacturer_x', 'firearm_model_x', 'firearm_caliber_x',
       'recovery_date_x', 'recovery_block_address_x', 'city_x', 'state_x',
       'recovery_zipcode_x', 'person_recovered_from_race_x',
       'person_recovered_from_sex_x', 'person_recovered_from_age_x', 'year',
       'ucr_category_y', 'type_of_firearm_y', 'firearm_manufacturer_y',
       'firearm_model_y', 'firearm_caliber_y', 'recovery_date_y',
       'address_geocode_type', 'recovery_address', 'city_y', 'state_y',
       'recovery_zipcode_y', 'person_recovered_from_race_y',
       'person_recovered_from_sex_y', 'person_recovered_from_age_y',
       'address_concat', 'longitude', 'latitude', 'confidence', 'source',
       'recovery_block_address_y', 'x', 'y', 'ucr_category',
       'type_of_firearm'],
      dtype='object')

In [76]:
merge_column(firearm_data, 'ucr_category')
merge_column(firearm_data, 'type_of_firearm')
merge_column(firearm_data, 'firearm_manufacturer')
merge_column(firearm_data, 'firearm_model')
merge_column(firearm_data, 'firearm_caliber')
merge_column(firearm_data, 'recovery_date')
merge_column(firearm_data, 'recovery_block_address')
merge_column(firearm_data, 'city')
merge_column(firearm_data, 'state')
merge_column(firearm_data, 'recovery_zipcode')
merge_column(firearm_data, 'person_recovered_from_race')
merge_column(firearm_data, 'person_recovered_from_sex')
merge_column(firearm_data, 'person_recovered_from_age')

In [77]:
firearm_data

,incident_number,ucr_category_x,type_of_firearm_x,firearm_manufacturer_x,firearm_model_x,firearm_caliber_x,recovery_date_x,recovery_block_address_x,city_x,state_x,...,firearm_model,firearm_caliber,recovery_date,recovery_block_address,city,state,recovery_zipcode,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age
0,80-06-008380,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
1,80-10-002211,Homicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
2,80-17-000578,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
3,80-17-001680,Suicide,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
4,80-17-002802,Death Investigation,NaN,NaN,NaN,NaN,NaN,NaN,Louisville,KY,...,Null,NaN,NaN,NaN,Louisville,KY,40211,Null,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23657,80-09-098505,Aggravated Assault,NaN,Armory Gun Co. ...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23658,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23659,80-09-098505,Aggravated Assault,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23660,80-08-091695,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,40203,White,M,15.0

In [78]:
firearm_data = firearm_data.loc[:, ~firearm_data.columns.str.endswith('_x')]

In [80]:
firearm_data = firearm_data.loc[:, ~firearm_data.columns.str.endswith('_y')]

In [81]:
firearm_data

,incident_number,year,address_geocode_type,recovery_address,address_concat,longitude,latitude,confidence,source,x,...,firearm_model,firearm_caliber,recovery_date,recovery_block_address,city,state,recovery_zipcode,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age
0,80-06-008380,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
1,80-10-002211,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
2,80-17-000578,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
3,80-17-001680,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
4,80-17-002802,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40211,Null,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23656,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23657,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23658,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23659,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23660,80-08-091695,2008.0,BLOCK,1000 Cladwell,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,40203,White,M,15.0

In [83]:
firearm_data = firearm_data.drop_duplicates()

In [84]:
firearm_data

,incident_number,year,address_geocode_type,recovery_address,address_concat,longitude,latitude,confidence,source,x,...,firearm_model,firearm_caliber,recovery_date,recovery_block_address,city,state,recovery_zipcode,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age
0,80-06-008380,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
1,80-10-002211,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40202,Null,NaN,NaN
2,80-17-000578,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
3,80-17-001680,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40272,Null,NaN,NaN
4,80-17-002802,NaN,NO ADDRESS,Null,NaN,0.000000,0.000000,0.00,none,NaN,...,Null,NaN,NaN,NaN,Louisville,KY,40211,Null,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23650,80-10-000185,2010.0,BLOCK,9200 Sissonne Dr,9200 Sissonne Dr Louisville KY 40118,-85.769370,38.117737,1.00,openaddresses,NaN,...,597,22C,1/1/2010,9200 Block Sissonne Dr ...,Louisville,KY,40118,White,M,27.0
23653,80-10-000185,2010.0,BLOCK,9200 Sissonne Dr,9200 Sissonne Dr Louisville KY 40118,-85.769370,38.117737,1.00,openaddresses,NaN,...,Sw40Ve,40C,1/1/2010,9200 Block Sissonne Dr ...,Louisville,KY,40118,White,M,27.0
23656,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23658,80-09-098505,2009.0,BLOCK,400 Amy Ave,400 Amy Ave Louisville KY 40212,-85.813555,38.259416,1.00,openaddresses,NaN,...,,,12/29/2009,400 Block Amy Ave ...,Louisville,KY,40212,Black,M,56.0
23660,80-08-091695,2008.0,BLOCK,1000 Cladwell,1000 Cladwell Louisville KY 40203,-85.757053,38.238555,0.67,openaddresses,NaN,...,E28,25C,11/29/2008,1000 Block Cladwell ...,Louisville,KY,40203,White,M,15.0

In [85]:
firearm_data.columns

Index(['incident_number', 'year', 'address_geocode_type', 'recovery_address',
       'address_concat', 'longitude', 'latitude', 'confidence', 'source', 'x',
       'y', 'ucr_category', 'type_of_firearm', 'firearm_manufacturer',
       'firearm_model', 'firearm_caliber', 'recovery_date',
       'recovery_block_address', 'city', 'state', 'recovery_zipcode',
       'person_recovered_from_race', 'person_recovered_from_sex',
       'person_recovered_from_age'],
      dtype='object')

In [89]:
firearm_data = firearm_data[["incident_number", "year", "recovery_date", "ucr_category", "type_of_firearm", "firearm_manufacturer", "firearm_model", "firearm_caliber", "address_concat", "address_geocode_type", "recovery_block_address", "recovery_address", "city", "state", "recovery_zipcode", "longitude", "latitude", "x", "y", "person_recovered_from_race", "person_recovered_from_sex", "person_recovered_from_age", "confidence", "source"]]

In [90]:
firearm_data

,incident_number,year,recovery_date,ucr_category,type_of_firearm,firearm_manufacturer,firearm_model,firearm_caliber,address_concat,address_geocode_type,...,recovery_zipcode,longitude,latitude,x,y,person_recovered_from_race,person_recovered_from_sex,person_recovered_from_age,confidence,source
0,80-06-008380,NaN,NaN,Homicide,Null,Null,Null,NaN,NaN,NO ADDRESS,...,40202,0.000000,0.000000,NaN,NaN,Null,NaN,NaN,0.00,none
1,80-10-002211,NaN,NaN,Homicide,Null,Null,Null,NaN,NaN,NO ADDRESS,...,40202,0.000000,0.000000,NaN,NaN,Null,NaN,NaN,0.00,none
2,80-17-000578,NaN,NaN,Suicide,Null,Null,Null,NaN,NaN,NO ADDRESS,...,40272,0.000000,0.000000,NaN,NaN,Null,NaN,NaN,0.00,none
3,80-17-001680,NaN,NaN,Suicide,Null,Null,Null,NaN,NaN,NO ADDRESS,...,40272,0.000000,0.000000,NaN,NaN,Null,NaN,NaN,0.00,none
4,80-17-002802,NaN,NaN,Death Investigation,Null,Null,Null,NaN,NaN,NO ADDRESS,...,40211,0.000000,0.000000,NaN,NaN,Null,NaN,NaN,0.00,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23650,80-10-000185,2010.0,1/1/2010,Narcotics,"Rifle, Automatic ...",Remington Arms ...,597,22C,9200 Sissonne Dr Louisville KY 40118,BLOCK,...,40118,-85.769370,38.117737,NaN,NaN,White,M,27.0,1.00,openaddresses
23653,80-10-000185,2010.0,1/1/2010,Narcotics,"Pistol, Semi-Automatic ...",Smith & Wesson ...,Sw40Ve,40C,9200 Sissonne Dr Louisville KY 40118,BLOCK,...,40118,-85.769370,38.117737,NaN,NaN,White,M,27.0,1.00,openaddresses
23656,80-09-098505,2009.0,12/29/2009,Aggravated Assault,Null,Armory Gun Co. ...,,,400 Amy Ave Louisville KY 40212,BLOCK,...,40212,-85.813555,38.259416,NaN,NaN,Black,M,56.0,1.00,openaddresses
23658,80-09-098505,2009.0,12/29/2009,Aggravated Assault,Null,...,,,400 Amy Ave Louisville KY 40212,BLOCK,...,40212,-85.813555,38.259416,NaN,NaN,Black,M,56.0,1.00,openaddresses
23660,80-08-091695,2008.0,11/29/2008,Theft Fr Veh,"Pistol, Semi-Automatic ...",Fie ...,E28,25C,1000 Cladwell Louisville KY 40203,BLOCK,...,40203,-85.757053,38.238555,NaN,NaN,White,M,15.0,0.67,openaddresses

In [93]:
firearm_data.describe()

,year,longitude,latitude,x,y,person_recovered_from_age,confidence
count,11263.000000,8803.000000,8803.000000,1.361000e+03,1361.000000,9140.000000,8803.000000
mean,2013.501998,-79.447296,35.389723,1.207515e+06,261510.687991,30.599562,0.813746
std,2.117481,22.427429,9.988813,1.917131e+04,17402.523667,12.308569,0.290693
min,2008.000000,-122.440321,0.000000,1.166337e+06,206744.500000,0.000000,0.000000
25%,2012.000000,-85.789370,38.167984,1.195536e+06,251281.062500,21.000000,0.664000
50%,2014.000000,-85.761323,38.229139,1.204016e+06,267058.187500,27.000000,1.000000
75%,2015.000000,-85.690866,38.253961,1.214921e+06,275068.000000,37.000000,1.000000
max,2017.000000,0.000000,43.199428,1.287586e+06,297530.375000,87.000000,1.000000

In [91]:
firearm_data.source.unique()

array(['none', 'openaddresses', nan], dtype=object)

In [92]:
firearm_data.ucr_category.unique()

array(['Homicide', 'Suicide', 'Death Investigation', 'Burglary',
       'Wpns Law Violation', 'Narcotics', 'Aggravated Assault',
       'Intimidation', 'Stolen Property', 'Robbery', 'Vandalism',
       'Auto Theft', 'Simple Assault', 'Shoplifting', 'Theft Other',
       'Kidnapping Only', 'All Other Offenses', 'Theft Fr Veh', 'Fraud',
       'Family Offenses', 'Accidental Shooting', 'Negligent Homicide',
       'Justifiable Homicide', 'Liquor Law Viol', 'Narcotics Equip',
       'Fraud Impersonation', 'Theft Fr Bldg', 'Promoting Prostitution',
       'Injured Person Report', 'Forcible Rape', 'Counterfeiting',
       'Disorderly Conduct', 'Fraud Credit Card/Atm', 'Purse Snatch', ' ',
       'Bribery', 'Theft Mv Parts', 'Theft Fr Vend Machine',
       'Sodomy Force', 'Forcible Fondling', 'Prostitution'], dtype=object)